html, body {
    background-color: #458262;
}

.divider {
    border-top-color: #b1dfbb;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-right: -70px;
    min-height: 190px;
}

.playing-card {
    width: 120px;
    left: 100px;
    margin-left: -70px;
}

.btn-container {
    align-items: center;
    display: grid;
    height: 80%;
}

.counter-container {
    color: #b1dfbb;
}
